<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajla.app_asistencia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >

    </activity>
        <activity
            android:name=".Admin_Materias_Menu"
            android:parentActivityName=".Admin_Inicio">
            <meta-data
                android:name="android.support.parent_activity"
                android:value=".Admin_Inicio" />
        </activity>
        <activity android:name=".Admin_Inicio"/>

        <activity
            android:name=".AdminMateriasCatalogoActivity"
            android:parentActivityName=".Admin_Materias_Menu">
            <meta-data
                android:name="android.support.parent_activity"
                android:value=".Admin_Materias_Menu" />
        </activity>
        <activity
            android:name=".AdminMestroActivity"
            android:parentActivityName=".Admin_Inicio">
            <meta-data
                android:name="android.support.parent_activity"
                android:value=".Admin_Inicio" />
        </activity>
        <activity android:name=".MaestroNuevoActivity" />
        <activity android:name=".MateriasMenuActivity" />
        <activity android:name=".MateriasIngresarActivity" />
        <activity android:name=".AsignacionMateriasActivity" />
        <activity
            android:name=".Admin_Menu_Oferta_Ciclo"
            android:parentActivityName=".Admin_Materias_Menu">
            <meta-data
                android:name="android.support.parent_activity"
                android:value=".Admin_Materias_Menu" />
        </activity>
        <activity
            android:name=".Admin_Registro_GL_GT"
            android:parentActivityName=".Admin_Menu_Oferta_Ciclo">
            <meta-data
                android:name="android.support.parent_activity"
                android:value=".Admin_Menu_Oferta_Ciclo" />
        </activity>
        <activity android:name=".Admin_Asig_GT" />
        <activity android:name=".Admin_Asig_GL" />
        <activity android:name=".Admin_AntesGTGL" />
        <activity android:name=".AdminAlumnoActivity"
            android:parentActivityName=".Admin_Inicio">
            <meta-data
                android:name="android.support.parent_activity"
                android:value=".Admin_Inicio" />
        </activity>
        <activity android:name=".AdminMaestroActualizarActivity" />
        <activity android:name=".AdminMateriasActualizarActivity" />
        <activity
            android:name=".AdminLocalesActivity"
            android:parentActivityName=".Admin_Inicio">
            <meta-data
                android:name="android.support.parent_activity"
                android:value=".Admin_Inicio" />
        </activity>
        <activity android:name=".AdminLocalesActualizarActivity" />
        <activity android:name=".AdminLocalNuevoActivity" />
        <activity
            android:name=".Admin_ListadoOfertas"
            android:parentActivityName=".Admin_AntesGTGL">
            <meta-data
                android:name="android.support.parent_activity"
                android:value=".Admin_AntesGTGL" />
        </activity>
        <activity android:name=".AdminAlumnoActualizarActivity" />
        <activity android:name=".AdminAlumnoNuevoActivity"/>

        <activity android:name=".Alumno_Menu"/>

        <activity android:name=".Alumno_Materia">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Alumno_Inscripcion"/>
        <activity android:name=".Alumno_diferido"/>
        <activity android:name=".Alumno_Asistencia"/>
    </application>

</manifest>