<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajla.app_asistencia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />

        <activity android:name=".jefeListDiferidos" />
        <activity android:name=".jefeDiferido" />
        <activity android:name=".DocenteMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin_Materias_Menu" />
        <activity android:name=".Admin_Inicio" />
        <activity android:name=".Alumno_Menu" />
        <activity android:name=".Alumno_Materia"
            android:parentActivityName=".Alumno_Menu"/>
        <activity android:name=".Alumno_Inscripcion"
            android:parentActivityName=".Alumno_Materia"/>
        <activity android:name=".DocenteMateria" />
        <activity android:name=".DocenteAsistenciaGT" >


        </activity>
        <activity android:name=".DocenteEvaluacion" />
        <activity android:name=".DocenteAsistenciaGL" />
        <activity android:name=".DocenteAsistenciaEVA" />
        <activity android:name=".AdminMateriasCatalogoActivity" />
        <activity android:name=".AdminMestroActivity" />
        <activity android:name=".MaestroNuevoActivity" />
        <activity android:name=".MateriasMenuActivity" />
        <activity android:name=".MateriasIngresarActivity" />
        <activity android:name=".AsignacionMateriasActivity" />
        <activity android:name=".Admin_Menu_Oferta_Ciclo" />
        <activity android:name=".Admin_Registro_GL_GT" />
        <activity android:name=".Admin_Asig_GT" />
        <activity android:name=".Admin_Asig_GL" />
        <activity android:name=".Admin_AntesGTGL" />
        <activity android:name=".AdminAlumnoActivity" />
        <activity android:name=".AdminMaestroActualizarActivity"></activity>

        <activity android:name=".jefeMenu" />
        <activity android:name=".Alumno_diferido"
            android:parentActivityName=".Alumno_Menu"/>
        <activity android:name=".Alumno_Asistencia"
            android:parentActivityName=".Alumno_Menu"/>
    </application>

</manifest>